
/*
	Colour Theme
*/

:root {
	--cream: #fef9ef;
	--red: #fe6d73;
	--yellow: #ffcb77;
	--green: #17c3b2;
	--darkerGreen: #10867b;
	--blue: #227c9d;
}


/*
	Generalized styles
*/

* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--green);
	padding: 10%;
}

h1 {
	text-align: center;
}

#indexNav {

	width: 60%;
	margin: auto;
	/* Center vertically */
	display: flex;
	flex-direction: row;
	align-items: center;
}

.indexNavButton {
	width: 30%;
	min-width: 100px;
	text-align: center;
	padding: 5%;
	margin: auto;
	font-size: x-large;
	color: var(--cream);
	text-decoration: none;
	background-color: var(--red);
	border-radius: 50px;
}

.indexNavButton:hover {
	background-color: #e65c61
}

.indexNavButton:focus {
	outline: black 1px solid;		
	outline-offset: 0px;
	border: none;
}

@media only screen and (max-width: 500px) {
	#indexNav {
		flex-direction: column;
	}

	.indexNavButton {
		margin-bottom: 20px;
	}
  }

form {
	max-width: 500px;
	width: 80%;
	margin: auto;
	background-color: var(--red);
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 50px 50px rgba(0, 0, 0, 0.144);
	color: 	var(--cream);
}

fieldset {
	display: inline;
	padding: 0;
	margin: 10px 0px 10px 0px;
	border: none;

}

fieldset > div {
	display: inline-block;
	width: 100%;
}

legend {
	font-weight:bold;
}

#streetGroup, #countryGroup {width: 100%;}
#stateGroup, #postCodeGroup {width: 20%;}
#suburbGroup {width: 56%;}

label, a#ageHelpLink {
	margin: 10px 0px 3px 10px;
	display: block;
	color: var(--cream);
}

#passwordStrength {
	margin: 0px 0px 0px 10px;
	display: inline-block;
	font-size: small;
}

input:not([type = "submit"]), select {
	padding: 12px 15px;
	box-sizing: border-box;
	border-style: solid;
	width: 100%;
	border-radius: 20px;
	background: var(--cream);
}

  /* Style the submit button */
input[type=submit] {
	background-color: var(--green);
	color: var(--cream);
	padding: 14px 20px;
	margin: auto;
	margin-top: 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	display: inline;
 }

	/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
		background-color: var(--darkerGreen);
	  }

input:valid {
	  border-color: green;
	  border-width: 2px;
}

input:invalid {
	border-color: red;
	border-width: 2px;
}

input:focus-visible {
	outline: none;
	background-color: var(--green);;
}

.cardWrangler {
	outline: 1px black dashed;
}

.card {
	outline: black 1px solid;
}

